<ion-view view-title="{{navTitle}}" class="discover-page text-uppercase">
  <ion-content scroll="false" style='background:url({{currentSong.image_large}}); background-size: cover;' class="song-container">
  <div class="bgshadow">
    <div class="list card current-song" ng-class="{skipped: currentSong.rated == false, favorited: currentSong.rated == true}" ng-show="currentSong && !currentSong.hide ">
      <div class="item item-image" on-swipe-left="swipeToNextSong()" on-swipe-right="swipeToFav()">
        <div class="progress-wrapper">
            <div class="progress">
               <img ng-src="{{currentSong.image_medium}}">
            </div>
          <round-progress max="max" current="timer" clockwise="false" color="#ef473a" radius="120" rounded="true" stroke="20" class="text-center"></round-progress>
        </div>
      </div>

      <div class="item song-detail">
        <h2 class="text-center">{{currentSong.title}}</h2>
        <p class="text-center">By {{currentSong.artist}}</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left bg-gray">
        <a class="tab-item skip-tab tab-white opacity-1x" ng-click="sendFeedback(false)">
          <i class="icon ion-close ion-2x"></i>
          Skip
        </a>
        <a class="button music-mode icon ion-play" ng-click="playMode();" ng-show="paused"></a>
        <a class="button music-mode icon ion-pause" ng-click="pauseMode();" ng-show="started"></a>
        <a class="button music-mode icon ion-refresh" ng-click="playMode(true);" ng-show="done"></a>
        <a class="tab-item tab-white opacity-1x" ng-click="sendFeedback(true)">
          <i class="icon ion-heart ion-2x"></i>
          Favorite
        </a>
      </div>
    </div>
  </div>
    <div class="img-lookahead">
      <img ng-src="{{ nextAlbumImg() }}" />
    </div>

  </ion-content>
</ion-view>

